<a href="https://colab.research.google.com/github/A2K2005/Assignments_TSS/blob/main/Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# R Programming


---

1.    Create a file that contains 1000 lines of random strings.

In [ ]:
file_path <- "random_strings.txt"

file_conn <- file(file_path, "w")

for (i in 1:1000) {
  random_string <- paste(sample(letters, 10, replace = TRUE), collapse = "")
  writeLines(random_string, file_conn)
}

close(file_conn)

2.   Create a random dataset of 100 rows and 30 columns. All the values are defined between [1,200].  Perform 
the following operations:

In [ ]:
set.seed(42)

dataset <- matrix(runif(100 * 30, min = 1, max = 200), nrow = 100)
dataset <- as.data.frame(dataset)



*   Replace all the values with NA in the dataset defined between [10, 60]. Print the count of number 
rows having missing values.

In [ ]:
dataset[10:60, ] <- NA
missing_values_count <- sum(rowSums(is.na(dataset)) > 0)
print(paste("Number of rows with missing values:", missing_values_count))



*   Replace all the NA values with the average of the column value.

In [ ]:
dataset <- apply(dataset, 2, function(x) replace(x, is.na(x), mean(x, na.rm = TRUE)))



*   Find the Pearson correlation among all the columns and plot heat map. Also select those columns 
having correlation <=0.7.

In [ ]:
correlation_matrix <- cor(dataset, use = "pairwise.complete.obs")
correlation_threshold <- 0.7
lower_correlation_indices <- which(upper.tri(correlation_matrix) & abs(correlation_matrix) <= correlation_threshold, arr.ind = TRUE)
lower_correlation_columns <- unique(c(lower_correlation_indices[, 1], lower_correlation_indices[, 2]))

heatmap(correlation_matrix, col = colorRampPalette(c("#F8766D", "#FFFFFF", "#00BFC4"))(100))



*   Normalize all the values in the dataset between 0 and 10.

In [ ]:
normalized_dataset <- scale(dataset, center = FALSE, scale = apply(dataset, 2, max, na.rm = TRUE) / 10)



*   Replace all the values in the dataset with 1 if value <=0.5 else with 0.

In [ ]:
dataset_binary <- ifelse(dataset <= 0.5, 1, 0)

3.  Create a random dataset of 500 rows and 10 columns. 

Columns 1 to 4 are defined between [-10, 10]; 

Columns 5 to 8 are defined between [10, 20]; 

Columns 9 to 10 are defined between [-100, 100]. 

Apply following clustering algorithms; determine the optimal number of clusters and plot distance metric 
graph using each algorithm.

In [ ]:
set.seed(42)
dataset <- matrix(NA, nrow = 500, ncol = 10)
dataset[, 1:4] <- runif(500, -10, 10)
dataset[, 5:8] <- runif(500, 10, 20)
dataset[, 9:10] <- runif(500, -100, 100)



*   K-Mean clustering

In [ ]:
wss <- sapply(1:10, function(k) kmeans(dataset, centers = k)$tot.withinss)
plot(1:10, wss, type = "b", xlab = "Number of Clusters", ylab = "Within-cluster Sum of Squares",
     main = "Elbow Method for K-Means Clustering")

k <- 6
kmeans_result <- kmeans(dataset, centers = k)
cluster_labels_kmeans <- kmeans_result$cluster

dist_matrix_kmeans <- dist(dataset)
plot(dist_matrix_kmeans, main = "Distance Metric Graph")



*   Hierarchical clustering

In [ ]:
dendrogram <- hclust(dist(dataset))
plot(dendrogram, main = "Dendrogram for Hierarchical Clustering")

k <- 6
hierarchical_result <- cutree(dendrogram, k = k)
cluster_labels_hierarchical <- hierarchical_result



4.   Create a random dataset of 600 rows and 15 columns. All the values are defined between [-100,100]. 

Perform the following operations:

In [ ]:
dataset <- matrix(runif(600 * 15, min = -100, max = 100), nrow = 600)
dataset <- as.data.frame(dataset)



*   Plot scatter graph between Column 5 and Column 6.

In [ ]:
plot(dataset[, 5], dataset[, 6], xlab = "Column 5", ylab = "Column 6",
     main = "Scatter Plot: Column 5 vs Column 6")



*   Plot histogram of each column in single graph.

In [ ]:
par(mfrow = c(4, 4))  # Set the layout for the subplots (adjust as needed)
for (i in 1:15) {
  hist(dataset[, i], main = paste("Column", i), xlab = "", ylab = "Frequency")
}



*    Plot the Box plot of each column in single graph.

In [ ]:
par(mfrow = c(4, 4))  # Set the layout for the subplots (adjust as needed)
for (i in 1:15) {
  boxplot(dataset[, i], main = paste("Column", i))
}



5.   Create a random dataset of 500 rows and 5 columns: 

All the values are defined between [5,10]. 

Perform the following operations:

In [ ]:
dataset <- matrix(runif(500 * 5, min = 5, max = 10), nrow = 500)
dataset <- as.data.frame(dataset)



*   Perform t-Test on each column.

In [ ]:
t_test_results <- lapply(dataset, function(col) t.test(col))



*   Perform Wilcoxon Signed Rank Test on each column.

In [ ]:
wilcox_test_results <- lapply(dataset, function(col) wilcox.test(col))



*   Perform Two Sample t-Test and Wilcoxon Rank Sum Test on Column 3 and Column 4

In [ ]:
column_3 <- dataset[, 3]
column_4 <- dataset[, 4]

t_test_column_3_4 <- t.test(column_3, column_4)
wilcox_test_column_3_4 <- wilcox.test(column_3, column_4)

print(t_test_results)
print(wilcox_test_results)
print(t_test_column_3_4)
print(wilcox_test_column_3_4)