<a href="https://colab.research.google.com/github/A2K2005/Assignments_TSS/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Assignment**

Q1) L is a list defined as L=[11,12,13,14].



1. WAP to add 50 and 60 to L.

In [ ]:
L = [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)

2.   WAP to remove 11 and 13 from L.

In [ ]:
L = [11, 12, 13, 14]
L.remove(11)
L.remove(13)
print(L)


3.  WAP to sort L in ascending order.

In [ ]:
L = [11, 12, 13, 14]
L.sort()
print(L)

4.  WAP to sort L in descending order.

In [ ]:
L = [11, 12, 13, 14]
L.sort(reverse=True)
print(L)

5.  WAP to search for 13 in L.

In [1]:
L = [11, 12, 13, 14]
if 13 in L:
    print("13 is present.")
else:
    print("13 is not present.")

13 is present.

6.  WAP to count the number of elements present in L.

In [ ]:
L = [11, 12, 13, 14]
count = len(L)
print("Number of Elements in L are:", count)

7.  WAP to sum all the elements in L.

In [ ]:
L = [11, 12, 13, 14]
total_sum = sum(L)
print("Sum of all elements in L:", total_sum)

8.  WAP to sum all ODD numbers in L.

In [2]:
L = [11, 12, 13, 14]
odd_sum = sum(num for num in L if num % 2 != 0)
print("Sum of all odd numbers in L:", odd_sum)

Sum of all odd numbers in L: 24

9.  WAP to sum all EVEN numbers in L.

In [ ]:
L = [11, 12, 13, 14]
even_sum = sum(num for num in L if num % 2 == 0)
print("Sum of all even numbers in L:", even_sum)

10.  WAP to sum all PRIME numbers in L.

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

L = [11, 12, 13, 14]
prime_sum = sum(num for num in L if is_prime(num))
print("Sum of all the prime numbers in L = ", prime_sum)

11.  WAP to clear all the elements in L.

In [ ]:
import time

start_time = time.time()

end_time = time.time()

elapsed_time = end_time - start_time

print("Time taken:", elapsed_time, "seconds")

12.  WAP to delete L.

In [5]:
L = [11, 12, 13, 14]
del L[2]
print ("List After Deleting =", L)

List After Deleting = [11, 12, 14]

Q2) D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

1.  WAP to add new entry in D; key=8 and value is 8.8

In [9]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D[8] = 8.8

2.  WAP to remove key=2

In [10]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
del D[2]

3. WAP to check weather 6 key is present in D.

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
key_present = 6 in D

4. WAP to count the number of elements present in D.

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
num_elements = len(D)

5. WAP to add all the values present D.

In [13]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
total_sum = sum(D.values())

6. WAP to update the value of 3 to 7.1

In [14]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D[3] = 7.1

7. WAP to clear the dictionary.

In [15]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D.clear()

Q3) S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].

  S2 is a set defined as S2= [40, 50, 60, 70, 80, 90]

1.  WAP to add 55 and 66 in Set S1.

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

S1.add(55)
S1.add(66)

2.  WAP to remove 10 and 30 from Set S1.

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

S1.remove(10)
S1.remove(30)

3.  WAP to check whether 40 is present in S1.

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

is_present = 40 in S1

4.  WAP to find the union between S1 and S2.

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

union_set = S1.union(S2)

5.  WAP to find the intersection between S1 and S2.

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

intersection_set = S1.intersection(S2)

6.  WAP to find the S1 - S2.

In [16]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

difference_set = S1.difference(S2)

Q4) Write the following program.

1. WAP to print 100 random strings whose length between 6 and 8.

In [19]:
import string
import random

for _ in range(100):
    length = random.randint(4, 10)
    random_string = ''.join(random.choices(string.ascii_lowercase, k=length))
    print(random_string)

lstxd
wwprlhxms
ypyar
weiq
ajptvjknfv
lhkjmhar
enrvs
vvzjdcwzix
elbrni
hggmzx
ujuipod
luukqi
wguxqexq
rfbmjzq
bvezcom
kkhpijvhlx
yeklyvh
dmfoaiqzm
ehway
bornpl
xwnxoavyx
yzmguopr
ackorj
svcdflad
qvurgsilic
dxgwjr
ozqiq
xxfzfadm
zghoh
dohsypwjlk
iufg
czxcmolv
rgmhglpgz
rrqf
zckxhcfn
kavbesxvcz
xajrfi
qluasv
fxhmcfq
hcdhhrjtnl
xipl
trglmhcneh
sspdelbj
bxoldza
cqctk
kpubwt
gptvwm
chegy
kssrb
efplcb
oavznimx
sdijl
oaahfy
ibruznc
hmbl
wqfwwedrrj
iuxiyjaeqb
nmouiu
ntzltsjb
jptkxlguwv
yinwwolafq
kjszfd
slxk
xhznye
nhdbazl
eufqprz
ygamdj
ebtvoz
rhnghks
balcyopft
pcgjl
ntyjssixr
maar
dpkwdhk
exdsiw
amcredvx
mgnkyul
kbcbhl
kkhcbrns
obstxwhd
qjju
tsufc
tebaruzi
pplo
dybcfsvr
icxnxu
fypmem
xzud
rrofn
ubuideht
lwfgkjoz
rwqvx
vuzfd
ohrdxmt
pxpkhxsj
ailbxzz
qoalma
ziwsss
kfkszsa
nvsl

2. WAP to print all prime numbers between 600 and 800.

In [20]:
for num in range(600, 801):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

3. WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [21]:
for i in range(100,1001):
  if (i%7==0 and i%9==0):
    print(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q5) WAP to create two lists of 10 random numbers between 10 and 30. 

Find

In [23]:
import random
list1 = []
list2 = []
for i in range(10):
  list1.append(random.randint(10,30))
  list2.append(random.randint(10,30))



1.   Common numbers in the two lists

In [26]:
common_numbers = []
print("List 1:", list1)
print("List 2:", list2)
for num in list1:
  if num in list2:
    common_numbers.append(num)
print("Common numbers in the two lists are:", common_numbers)

List 1: [25, 12, 11, 16, 23, 12, 17, 10, 28, 19]
List 2: [23, 10, 29, 19, 13, 10, 13, 18, 23, 27]
Common numbers in the two lists are: [23, 10, 19]



2.   Unique numbers in both the list

In [25]:
common_numbers = set(list1).intersection(set(list2))
print("List 1:", list1)
print("List 2:", list2)
print("Unique numbers in both the lists are:", common_numbers)

List 1: [25, 12, 11, 16, 23, 12, 17, 10, 28, 19]
List 2: [23, 10, 29, 19, 13, 10, 13, 18, 23, 27]
Unique numbers in both the lists are: {10, 19, 23}



3.   Minimum in both the list

In [31]:
print("List 1:", list1)
print("List 2:", list2)
min1 = min(list1)
min2 = min(list2)
print("Minimum in List 1:", min1)
print("Minimum in List 2:", min2)

List 1: [25, 12, 11, 16, 23, 12, 17, 10, 28, 19]
List 2: [23, 10, 29, 19, 13, 10, 13, 18, 23, 27]
Minimum in List 1: 10
Minimum in List 2: 10



4.   Maximum in both the list

In [33]:
print("List 1:", list1)
print("List 2:", list2)
max1 = max(list1)
max2 = max(list2)
print("Maximum of List 1 is:", max1)
print("Maximum of List 2 is:", max2)

List 1: [25, 12, 11, 16, 23, 12, 17, 10, 28, 19]
List 2: [23, 10, 29, 19, 13, 10, 13, 18, 23, 27]
Maximum of List 1 is: 28
Maximum of List 2 is: 29



5.       Sum of both the lists

In [34]:
for i in range(10):
  list1.append(random.randint(10,30))
  list2.append(random.randint(10,30))
sum1 = sum(list1)
sum2 = sum(list2)
print("Sum of List 1 is:", sum1)
print("Sum of List 2 is:", sum2)

Sum of List 1 is: 371
Sum of List 2 is: 382

Q6) WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

In [41]:
import random

numbers = [random.randint(100, 900) for _ in range(100)]

print("List of random numbers:", numbers)

List of random numbers: [852, 565, 499, 631, 305, 151, 399, 217, 878, 288, 878, 221, 501, 306, 553, 164, 892, 349, 453, 231, 595, 235, 171, 261, 414, 528, 179, 769, 379, 871, 230, 749, 203, 268, 741, 507, 248, 844, 149, 546, 694, 439, 258, 259, 127, 640, 567, 570, 690, 538, 128, 176, 288, 499, 246, 378, 651, 182, 333, 136, 568, 779, 435, 769, 329, 319, 228, 353, 687, 267, 595, 731, 855, 835, 585, 478, 744, 220, 592, 643, 185, 511, 690, 166, 636, 623, 844, 785, 874, 454, 154, 127, 700, 787, 558, 654, 490, 520, 131, 472]



1.   All odd numbers

In [43]:
odd_numbers = [num for num in numbers if num % 2 != 0]
count_odd = len(odd_numbers)
print("Odd numbers:", odd_numbers)
print("Count of odd numbers:", count_odd)

Odd numbers: [565, 499, 631, 305, 151, 399, 217, 221, 501, 553, 349, 453, 231, 595, 235, 171, 261, 179, 769, 379, 871, 749, 203, 741, 507, 149, 439, 259, 127, 567, 499, 651, 333, 779, 435, 769, 329, 319, 353, 687, 267, 595, 731, 855, 835, 585, 643, 185, 511, 623, 785, 127, 787, 131]
Count of odd numbers: 54




2.   All even numbers

In [ ]:
even_numbers = [num for num in numbers if num % 2 == 0]
count_even = len(even_numbers)
print("Even numbers:", even_numbers)
print("Count of even numbers:", count_even)




3.   All prime numbers

In [45]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in numbers if is_prime(num)]
count_prime = len(prime_numbers)
print("Prime numbers:", prime_numbers)
print("No. of prime numbers:", count_prime)

Prime numbers: [499, 631, 151, 349, 179, 769, 379, 149, 439, 127, 499, 769, 353, 643, 127, 787, 131]
No. of prime numbers: 17

Q7) D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}. 
WAP to read all the keys and values from dictionary and write to the file in the given below format.

Key1, Value1

Key2, Value2

Key3, Value3

In [ ]:

D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}
with open('output.txt', 'w') as f:
    for key, value in D.items():
        f.write(f'{key}, {value}\n')

Q8) L is a list defined as L={"One","Two","Three","Four","Five"}.

WAP to count the length of reach element from a list and write to the file in the given below format: 

One, 3

Two, 3 

Four, 4

In [ ]:
L = ["One", "Two", "Three", "Four", "Five"]

with open("output.txt", "w") as file:
    
    for element in L:
   
        length = len(element)
   
        file.write(f"{element}, {length}\n")

Q9) Write to the file 100 random strings whose length between 10 and 15.

In [46]:
import random
import string

random_strings = [''.join(random.choices(string.ascii_lowercase, k=random.randint(10, 15))) for _ in range(100)]

with open("random_strings.txt", "w") as file:
    
    for string in random_strings:
        file.write(string + "\n")

Q10) Write to the file all prime numbers between 600 and 800.

In [49]:
with open('prime_numbers.txt', 'w') as f:
    for num in range(600, 801):
        if num > 1:
            for i in range(2, num):
                if (num % i) == 0:
                    break
            else:
                f.write(str(num) + '\n')

Q11) WAP to calculate the time taken by a program.

In [48]:
import time

start_time = time.time()
end_time = time.time()
time_taken = end_time - start_time

print("Time taken by the program is:", time_taken)

Time taken by the program is: 5.435943603515625e-05

Q12) WAP to sort following number of elements in a list, calculate time taken and plot the graph.
![assn.jpg]()

Q13) WAP to create a dictionary of student marks in five subjects and you have to find the student 
having maximum and minimum average marks.

In [50]:
import time
start_time = time.time()

student_marks = {'Rohit': [90, 85, 80, 75, 70], 'Kushal': [95, 90, 85, 80, 75], 'Armaan': [100, 95, 90, 85, 80]}

#max average marks
max_avg = 0
for student in student_marks:
    avg = sum(student_marks[student])/len(student_marks[student])
    if avg > max_avg:
        max_avg = avg
        max_student = student
print("The student with maximum average marks is", max_student)

#min average marks
min_avg = 100
for student in student_marks:
    avg = sum(student_marks[student])/len(student_marks[student])
    if avg < min_avg:
        min_avg = avg
        min_student = student
print("The student with minimum average marks is", min_student)

end_time = time.time()
time_taken = end_time - start_time
print("Time taken by the program is:", time_taken)

The student with maximum average marks is Armaan
The student with minimum average marks is Rohit
Time taken by the program is: 0.0037527084350585938